@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    color: #333;
    background-color: #f5f5f5;
}

main {
    text-align: center;
    background-color: #fafafa;
    padding: 66px 121px 68px 121px;
    margin: 111px 20%;
}

/*------------------------------------
header
------------------------------------*/

#header {
    position: relative;
    display: flex;
    padding: 14px 0 14px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: -10px -10px;
}

#header img{
    display: block;
    width: 116px;
    height: 38px;
}

#navi {
    position: absolute;
    right:0;
}
.menu {
    display: flex;
}

.menu a {
    color: #333;
    text-decoration: none;
}
.menu li {
    list-style: none;
    margin-right: 60px;
}

#navi img{
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.SP-menu {
    position: fixed;
    opacity: 0;
    visibility: hidden;
} 

/*------------------------------------
main
------------------------------------*/
h1 {
    font-size: 1.75rem;
}

.name {
    font-size: 1.125rem;
    text-align: left;
}

.name .name {
    width: 100%;
    max-width: 518px;
    height: 33px;
}

.mail {
    font-size: 1.125rem;
    text-align: left;
}

.mail .mail {
    width: 100%;
    max-width: 518px;
    height: 33px;
}

.title {
    font-size: 1.125rem;
    text-align: left;
}

.title .title {
    width: 100%;
    max-width: 518px;
    height: 33px;
}

.message {
    font-size: 1.125rem;
    text-align: left;
}

.message .message {
    resize: none;
    width: 100%;
    max-width: 518px;
    height: 256px;
}

.button {
    margin-top: 67px;
}

p span {
    font-size: 1rem;
    background: #ff7300;
    color: #fff;
    padding: 3px 6px 3px 8px;
    margin-left: 34px;
}
.send {
    font-size: 1.4375rem;
    width: 192px;
    height: 49px;
    border: none;
    border-radius: 6px;
    background-color: #ff7300;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.send:hover {
    background-color: #333;
    transition: all 0.3s;
}

/*----------------------------------
footer
----------------------------------*/
.recruit_btn {
    text-align: center;
    margin: 239px  0 206px 0;
}

.recruit {
    padding: 72px 170px 72px 170px;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    background: #FD9603;
}

.recruit:hover {
    background-color: #333;
    transition: all 0.3s;
}

.recruit img {
    width: 98px;
    height: 87px;
    margin-right: 40px;
    margin-bottom: -20px;
}

.copyright{
    padding: 41px 0;
    font-size: 0.875rem;
    text-align: center;
    background-color: #000;
    color: #fff;
}

/*--------------------------------------
SP
--------------------------------------*/
@media screen and (max-width: 796px) {
    body{
        background-color: #fff;
    }

    main {
        background-color: #fff;
        padding: 41px 31px;
        margin: 0;
    }

    /*----------------------------------
    hamburger
    ----------------------------------*/
    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    #header img {
        width: 73px;
        height: 24px;
        margin:0;
    }

    #navi {
        width: 375px;
        height: 768px;
        padding: 10px 0 10px 14px;
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0;
        transition:opacity 0.6s ease, visibility 0.6s ease;
        visibility: hidden;
        background-color: #fff;
    }

    #navi.active {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        position:fixed;
        opacity: 0;
        visibility: hidden;
    }

    .SP-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 133px;
    }

    .SP-menu a {
        color: #333;
        text-decoration: none;
    }

    .SP-menu li {
        padding: 20px 202px 20px 60px;
        border-bottom: solid 1px #333;
        list-style: none;
        margin-left: -55px;
    }

    .SP-menu li:first-child {
        border-top: solid 1px #333;
    }

    /*----------------------------------------
    ハンバーガーメニューが閉じてる時
    ----------------------------------------*/
    .hamburger {
        width: 40px;
        height: 25px;
        position: relative;
        position:fixed;
        cursor: pointer;
        top: 10px;
        right: 0;
        margin-right: 20px;
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger span {
        position: absolute;
        width: 100%;
        height: 1px;
        background: #333;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
}

    .hamburger span:first-child {
        top:0;
    }

    .hamburger span:nth-child(2) {
        top: 50%;
    }

    .hamburger span:last-child {
        top: 100%;
    }

    /*----------------------------------------
    ハンバーガーメニューが開いてる時
    ----------------------------------------*/
    .hamburger.active span:first-child {
        top: 50%;
        transform: rotate(45deg);
}

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:last-child {
        top: 50%;
        transform: rotate(-45deg);
}
    /*---------------------------------
    main
    ---------------------------------*/
    h1 {
        font-size: 1.125rem;
        margin-bottom: 50px;
    }

    .name {
        font-size: 0.8125rem;
    }

    .name .name {
        max-width: 100%;
        height: 30px;
    }

    .mail {
        font-size: 0.8125rem;
    }

    .mail .mail {
        max-width:100%;
        height: 30px;
    }

    .title {
        font-size: 0.8125rem;
    }

    .title .title {
        max-width: 100%;
        height: 30px;
    }

    .message {
        font-size: 0.8125rem;
    }

    .message .message {
        max-width: 100%;
        height: 110px;
    }

    p span {
        font-size: 0.625rem;
        background: #ff7300;
        color: #fff;
        padding: 3px 7px 3px 7px;
        margin-left: 18px;
    }

    .button {
        margin-top: 33px;
    }

    .send {
        font-size: 0.75rem;
        width: 117px;
        height: 42px;
    }

    /*----------------------------------
    footer
    ----------------------------------*/
    .recruit_btn {
        margin: 86px  0 124px 0;
    }

    .recruit {
        font-size: 0.8125rem;
        padding: 13px 45px 12px 42px;
    }

    .recruit img {
        width: 27px;
        height: 24px;
        margin-right: 22px;
        margin-bottom: -5px;
    }

    .copyright{
        padding: 11px 0;
        font-size: 0.5rem;
    }
}